
/* Responsividad */
@media (max-width: 1024px) {
  .footer-logo {
    width: 15%; /* Aumenta el tamaño relativo en pantallas medianas */
  }

  .footer-text {
    font-size: 0.9em; /* Ajusta el tamaño del texto */
    max-width: 90%; /* Expande el ancho para mayor flexibilidad */
  }
}

@media (max-width: 768px) {
  .footer-logo {
    width: 20%; /* Ajusta el tamaño del logo en pantallas más pequeñas */
  }

  .footer-text {
    font-size: 0.8em; /* Reduce ligeramente el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5%; /* Ajusta el relleno para dispositivos pequeños */
  }

  .footer-logo {
    width: 30%; /* Más grande para facilitar la visualización */
  }

  .footer-text {
    font-size: 0.75em; /* Texto aún más pequeño en pantallas móviles */
  }
}
