/* Estilo del formulario */
form {
  background-color: #333;
  padding: 5%; /* Relleno relativo al contenedor */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 70%; /* Máximo ancho del formulario */
  margin: 20px auto; /* Centra el formulario verticalmente */
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

/* Estilo de los labels */
form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Inputs, select y textarea */
form input,
form select,
form textarea {
  padding: 2%; /* Relleno relativo al tamaño */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem; /* Unidad relativa para fuentes */
  width: 100%; /* Usar todo el ancho disponible */
  box-sizing: border-box; /* Incluye padding y borde en el ancho */
}

textarea {
  height: 80px; /* Altura ajustable */
  resize: none; /* Eliminar el redimensionado manual */
}

/* Botones */
form button {
  background-color: #333;
  color: white;
  padding: 10px 15px; /* Proporción adecuada */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Fondo opaco detrás del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté encima de todo */
}

/* Contenido del modal */
.modal-content {
  background-color: #555;
  padding: 5%; /* Relleno proporcional */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%; /* Ancho relativo */
  max-width: 800px; /* Limitar el tamaño máximo */
  z-index: 1100;
}

/* Botones generales */
button {
  margin: 5px;
  padding: 10px 15px; /* Proporciones cómodas */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

button[type="button"] {
  background-color: #f44336;
  color: white;
}
