.banner {
  width: 100%;
  height: auto; /* Altura automática para adaptarse al contenido */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}

.banner-text {
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}

.banner-text h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 16px;
}

.card {
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgb(40 9 212);
}

.card-icon {
  opacity: 0.8;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card-icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
    height: auto;
  }
}
