
/* Responsividad */
@media (max-width: 1024px) {
  .app-container {
    padding: 0 2rem; /* Más espacio en los laterales */
  }

  .banner .banner-content h1 {
    font-size: 2rem; /* Ajusta el tamaño del texto */
  }

  .banner .banner-content p {
    font-size: 1rem;
  }

  .category-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .banner {
    padding: 1.5rem;
  }

  .banner .banner-content h1 {
    font-size: 1.8rem;
  }

  .banner .banner-content p {
    font-size: 0.9rem;
  }

  .movie-card {
    margin: 0 auto;
    max-width: 90%; /* Se adapta al ancho de pantalla */
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 1rem;
  }

  .banner .banner-content h1 {
    font-size: 1.5rem;
  }

  .banner .banner-content p {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.8rem; /* Reduce el tamaño del texto del footer */
  }
}
